country_converter==0.7.1
facepy==1.0.12
fuzzywuzzy==0.18.0
pymediainfo==4.2.1
requests==2.24.0
guessit==3.1.1
srt==3.4.0
opencv_python==4.4.0.42
emoji_country_flag==1.2.3
tmdbsimple==2.6.6
colorthief==0.2.1
flag==0.1.1
Pillow==8.0.1
