facepy
fuzzywuzzy
pymediainfo
requests
guessit
srt
opencv_python
tmdbsimple
Pillow
click
discord-webhook
discord.py
timeout-decorator
Wand
python-dotenv
discord-flags
pylast
ripgrepy
pathvalidate
appdirs
