numpy
discord.py
dogpile.cache
timeout_decorator
Click
Wand
tmdbsimple
appdirs
pymediainfo
pathvalidate
fuzzywuzzy
srt
opencv_python
discord_webhook
requests
facepy
ripgrepy
colorthief
dogpile.cache
Pillow
pylast
python-dotenv
apscheduler
